@import 'tailwindcss';

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

::-moz-selection {
    background: #577fbc;
    color: #ffffff;
}
::-webkit-selection {
    background: #577fbc;
    color: #ffffff;
}
::selection {
    background: #577fbc;
    color: #ffffff;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-geist: var(--font-geist);
    --font-dank-mono: var(--font-dank-mono);
}

[data-theme='dark'] {
    --background: #030c19;
    --foreground: #ededed;
}

@theme {
    --color-nord: #030c19;
    --color-ice: #66aadb;
}

@theme inline {
    --font-sans: var(--font-geist);
    --font-mono: var(--font-dank-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist);
}

.ghost-popup,
.project-popup {
    position: relative;
}

.ghost-popup .content {
    transition: transform 0.2s ease-in-out;
}

.ghost-popup:hover .content {
    transform: translate(4px, -4px);
}

.ghost-popup .popup {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: -8px;
    left: -8px;
    background: oklch(0.48 0.034 261.351);
    z-index: -1;
    border-radius: 4px;
    animation: ghost 0.355ms 0.5s ease backwards;
}

[data-theme='dark'] .ghost-popup .popup {
    background: oklch(0.277 0.059 264.032);
}

code {
    @apply !leading-loose rounded-xs;
    background-color: #e1e2e5;
    padding: 1px 2px;
}

blockquote.mdx {
    position: relative;
    padding-left: 60px;
}

blockquote.mdx::before {
    position: absolute;
    content: '“';
    display: block;
    top: 0px;
    left: 15px;
    font-size: 64px;
    color: #577fbc;
}